[package]
name = "cryptex"
authors = ["Michael Lodder <redmike7@gmail.com>"]
categories = []
description = """
Cryptex uses system keyrings to store and retrieve secrets
or a local file
"""
documentation = "https://docs.rs/cryptex/"
edition = "2021"
homepage = "https://github.com/mikelodder7/cryptex"
keywords = ["secrets", "vault", "keyring"]
license = "MIT/Apache-2.0"
repository = "https://github.com/mikelodder7/cryptex"
readme = "README.md"
version = "1.8.0"

[lib]
crate-type = ["staticlib", "rlib", "cdylib"]

[[bin]]
name = "cryptex"

[features]
default = []
file = ["argon2", "chacha20poly1305", "dirs", "rusqlite"]

[dependencies]
atty = "0.2"
clap = "2.33"
colored = "2.0"
hex = "0.4"
rand = "0.8"
rpassword = "7"
serde = { version = "1", optional = true }
subtle = "2"
whoami = "1.1"
zeroize = { version = "1", features = ["zeroize_derive"] }

argon2 = { version = "0.5", optional = true }
chacha20poly1305 = { version = "0.10", optional = true }
dirs = { version = "5.0", optional = true }
merlin = { version = "3", optional = true }
rusqlite = { version = "0.29", features = ["bundled-sqlcipher-vendored-openssl"], optional = true }

[dev-dependencies]
tokio = { version = "1", features = ["rt", "rt-multi-thread", "macros"] }

[target.'cfg(any(target_os = "macos", target_os = "linux"))'.dependencies]
users = "0.11"

[target.'cfg(target_os = "macos")'.dependencies]
security-framework = "2.9"
security-framework-sys = "2.9"
core-foundation = "0.9"
core-foundation-sys = "0.8"

[target.'cfg(target_os = "linux")'.dependencies]
maplit = "1"
secret-service = "2"

[target.'cfg(target_os = "windows")'.dependencies]
winapi = { version = "0.3", features = ["dpapi", "errhandlingapi", "wincred", "winerror"] }
byteorder = "1.4"

